# Add any directories, files, or patterns you don't want to be tracked by version control
node_modules/
package-lock.json
android/
android/.gradle/4.10.2/fileHashes/fileHashes.lock
android/.gradle/4.10.2/taskHistory/taskHistory.bin
android/.gradle/4.10.2/taskHistory/taskHistory.lock